{% comment %} Swatchs for product variant {% endcomment %}
<div
id="variant-radios-{{ section.id }}"
class="no-js-hidden"
data-section="{{ section.id }}"
data-url="{{ product.url }}"
{% if update_url == false %}
  data-update-url="false"
{% endif %}
{{ block.shopify_attributes }}
>
  <fieldset class="js product-form__input">
    <legend class="form__label">{{ option.name }}</legend>
    {% render 'product-variant-options', product: product, option: option, picker_type: picker_type %}
  </fieldset>
</div>